---
import Master from "../layouts/master.astro";
import { Image } from "astro:assets";
import iconBsky from "pixelarticons/svg/debug.svg";
import iconX from "pixelarticons/svg/close.svg";
import iconGh from "pixelarticons/svg/github.svg";
---

<Master page="abt">
  <section>
    {
      /* <img
      alt="stdpi"
      src="https://cdn.stdpi.work/assets/img/cat_monokai_res_v1/cat_monokai_ico_web.svg"
    /> */
    }
    <img alt="avatar" src="https://avatars.githubusercontent.com/u/32933514" />
  </section>
  <figcaption>
    <h3>@stdpi</h3>
    <h5>aka @huwutao, random mind in the wild</h5>
    <p>
      Failure was never an <code>{"Option<T>"}</code> but <code
        >{"Result<T, E>"}</code
      >
    </p>
    <div class="icons">
      {
        [
          {
            icon: iconBsky,
            m: "bs",
            ref: "https://bsky.app/profile/stdpi.work",
            name: "bluesky",
          },
          {
            icon: iconX,
            m: "tw",
            ref: "https://twitter.com/stdpipe",
            name: "aka twitter",
          },
          {
            icon: iconGh,
            m: "gh",
            ref: "https://github.com/huwutao",
            name: "github",
          },
        ].map((a) => (
          <a href={a.ref} data-m={a.m} target="_blank">
            <Image src={a.icon} alt={a.name} width={16} height={16} />
            <span>{a.name}</span>
          </a>
        ))
      }
    </div>
  </figcaption>
  <div class="end">
    <a href="https://github.com/hUwUtao/profile">
      <Image src={iconGh} alt="Source" width={12} height={12} /> Source
    </a>
  </div>
</Master>

<style lang="sass">
  @import ../styles/style.sass

  section
    padding: 6% 10% 0
    &>img
      aspect-ratio: 1
      max-width: 100%
      vertical-align: top
      position: relative
      border-radius: 1%
      --a: 8px
      --w: calc(50% - var(--a))
      max-width: var(--w)
      max-height: var(--w)
      padding: calc(var(--a) - 4px)
      border: 2px solid #ffffff
      border-radius: 50%

  figcaption
    padding: 5% 10% 0
    h3
      font-size: 25px
      font-weight: 400
      line-height: 24px
      margin: 3px 0

    h5
      font-weight: 400
      font-size: 10px
      margin: 3px
      letter-spacing: 1px

    &>.icons
      display: flex
      flex-direction: column
      a
        width: 100%
        border: 1px solid var(--b)
        margin-bottom: 0.5em
        --s: #0000
        --s2: #000f
        box-shadow: 4px 4px 0px 2px var(--s), 0 0 0px 2px var(--s2) inset
        transition: box-shadow 32ms ease-in-out, background 64ms ease-in-out
        text-decoration: none
        padding: 0.3em 0
        @extend .brands
        display: flex
        align-items: center
        justify-content: center
        gap: 8px
        &:hover
          background: var(--b)
          --s: #000f
          --s2: #0000
        img
          filter: invert(1)
        span
          @extend .mono
          margin-right: 1em

  .end
    margin-bottom: 10px
    display: flex
    justify-content: center
    &>a
      color: #ddd
      font-size: 10px
      text-decoration: none
      display: flex
      align-items: center
      gap: 4px
      img
        filter: invert(1)
</style>
