---
import type { ArticleProps } from "../core/frontmatter";
import Master from "./master.astro";

type Props = ArticleProps & {};

const { title, date, dateIso, brief, keywords } = Astro.props.frontmatter;

function dateToIso(d: string) {
	const parts = d.split("/");
	if (parts.length === 3) {
		const [day, month, year] = parts.map((n) => n.padStart(2, "0"));
		return `${year}-${month}-${day}`;
	}
	return d;
}

const machineDate = dateIso || dateToIso(date);
---

<Master
  page="rand"
  meta={{
    title,
    meta: brief,
    keyw: keywords.split(",").map((keyword) => keyword.trim()),
    ogType: "article",
  }}
>
  <article>
    <h1 class="title">{title}</h1>
    <time datetime={machineDate}>{date}</time>
    <slot />
  </article>
</Master>

<style lang="sass">
  article
    text-align: left
    padding: 0.5rem 3rem
    &>h1
      margin-top: 0
      margin-bottom: 0.1em
      &.title
        font-size: 2em
</style>
<style lang="sass" is:global>
  @use "../styles/style.sass"
  // article
  //   a
  //     &::before
  //       content: url("../hyperli.svg")
  //       display: inline-block
  //       width: 15px
  //       height: 15px
  //       margin-right: 5px
  //       &>img
  //         height: 10px
  .astro-code, blockquote
    padding: 0.8em 1em
    @extend .tint
</style>
